.casting-container {
    width: 100%;
    height: 100%;
  }
  .casting-container .title-section {
    width: 100%;
    height: 13.37%;
    position: relative;
    border-bottom: 1px solid rgba(44, 44, 44, 0.1);
    background: #fff;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
  }
  .casting-container .title-section h2 {
    position: absolute;
    top: 58.81%;
    left: 4.4%;
    font-size: clamp(0.3125rem, 0rem + 5vw, 31.25rem);
    font-weight: 400;
    color: #2c2c2c;
  }
  .leftarrow{
    position: absolute;
    height: 20%;
    width: 5.59%;
    margin-top: 4%;
    margin-left: 4%;
  }
  .casting-container .cast-section {
    width: auto;
    height: 76.5%;
    padding: 0 4.4%;
    overflow-y: auto;
  }
  .btn-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    /* top: 15%; */
  }
  .btn-section > div{
    margin-top: 8%;
  }
  .btn-section label {
    margin-left: 3%; 
    color: #4A5A70;
    font-size: clamp(0.2425rem, -0.0006rem + 3.8889vw, 24.305rem);
/* font-size: 14px; */
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 2px;
    /* background-color only for content */
    background-clip: content-box;
    border: 1px solid #4A5A70;
    /* background-color: #e7e6e7; */
    border-radius: 50%;
  }
  input[type="radio"]:checked {
    background-color: #13027C;
    border: 1px solid #13027C;
  }
  .radiosec{
    display: flex;
    align-items: center;
  }