.casting-container {
  width: 100%;
  height: 100% !important;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0px !important;
  background-color: #fff;
  z-index: 5;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
.casting-container .title-section {
  width: 100%;
  height: 13.37%;
  position: relative;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.casting-container .title-section h2 {
  position: absolute;
  top: 58.81%;
  left: 4.4%;
  font-size: clamp(0.3125rem, 0rem + 5vw, 31.25rem);
  font-weight: 400;
  color: #2c2c2c;
}
.leftarrow {
  width: 5.59%;
  height: 20%;
  position: absolute;
  margin-top: 4%;
  margin-left: 4%;
}
.casting-container .cast-section {
  width: auto;
  height: 76.5%;
  padding: 0 4.4%;
  overflow-y: auto;
}
.btn-section {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.btn-section label {
  margin-left: 3%;
  font-size: clamp(0.2425rem, -0.0006rem + 3.8889vw, 24.305rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #4a5a70;
}
input[type="radio"] {
  width: 15px;
  height: 15px;
  display: inline-block;
  padding: 2px;
  border: 1px solid #4a5a70;
  border-radius: 50%;
  appearance: none;
  background-clip: content-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="radio"]:checked {
  border: 1px solid #13027c;
  background-color: #13027c;
}
.radiosec {
  height: 12% !important;
  display: flex;
  align-items: center;
}
