.main-container {
  height: 100%;
  width: 100%;
}

.casting-header {
  height: 13.37%;
  position: relative;
}

.back-image {
  color: black;
  position: absolute;
  top: 18.67%;
  left: 4.44%;
}

.heading {
  color: black;
  position: absolute;
  top: 60%;
  left: 4.44%;
}

.date-time-div {
  height: 12.62%;
  background-color: rgb(19, 2, 124, 0.05);
  padding-right: 4.44%;
  padding-left: 4.44%;
}

.date-time-top-subdiv {
  display: flex;
  justify-content: space-between;
  height: 50%;
  width: 100%;
}

.date-time-topleft-subdiv {
  display: flex;
  justify-content: space-between;
  height: 80%;
  width: 40%;
  align-items: center;
}

.arrow-left {
  height: 50%;
}

.arrow-right {
  height: 50%;
}

.date-heading {
  font-size: clamp(0.2775rem, -0.0003rem + 4.4445vw, 27.77775rem);
  font-weight: 500;
  color: #4a5a70;
  margin-bottom: 0.78%;
}

.date-time-topright-subdiv {
  display: flex;
  justify-content: space-evenly;
  height: 80%;
  width: 40%;
  align-items: center;
}

.dark-calendar-image {
  height: 58%;
}

.date-time-bottom-subdiv {
  height: 50%;
  width: 100%;
}

.timeline-number {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 40%;
}

.timeline-calendar-image {
  width: 100%;
}
span {
  color: #4a5a70;
  font-size: clamp(0.13875rem, -0.0001rem + 2.2222vw, 13.88875rem);
}

.casting-body {
  height: 64%;
  width: 100%;
  padding: 0 4.57%;
  box-sizing: border-box;
  padding-top: 5.07%;
}

.daily-para {
  font-size: clamp(0.208125rem, -0.0353rem + 3.8944vw, 24.305rem);
  color: #4a5a70;
  font-weight: 500;
}

.change-para {
  font-size: clamp(0.208125rem, -0.0002rem + 3.3333vw, 20.833125rem);
  color: #13027c;
  font-weight: 400;
}

.casting-upper {
  display: flex;
  justify-content: space-between;
  height: 10%;
  width: 100%;
}

.date-div {
  width: 100%;
  height: 40%;
}

.date-heading {
  font-size: clamp(0.208125rem, -0.0353rem + 3.8944vw, 24.305rem);
  font-weight: 400;
}

.date-subdiv {
  width: 100%;
  height: 25%;
  position: relative;
  margin-bottom: 3.12%;
}

.date-input {
  background-color: rgb(19, 2, 124, 0.05);
  width: 100%;
  height: 80%;
  border-style: none;
  position: absolute;
  justify-content: space-between;
  border-radius: 10px;
  padding-left: 4%;
  margin-bottom: 4%;
  padding-right: 4%;
}

.date-input-image {
  position: absolute;
  right: 4%;
  padding-top: 2%;
}

.line-body {
  display: flex;
  justify-content: space-around;
  padding-left: 30%;
  padding-top: 4.68%;
}

.time-div {
  width: 100%;
  height: 40%;
}

.time-heading {
  font-size: clamp(0.208125rem, -0.0353rem + 3.8944vw, 24.305rem);
  font-weight: 400;
  color: #2c2c2c;
  margin-bottom: 0.5%;
  margin-top: 2%;
}

.time-subdiv {
  display: flex;
  height: 20%;
  width: 100%;
  margin-bottom: 2%;
  margin-top: 0.78%;
}

.time-subdiv-info {
  width: 25%;
  height: 100%;
  position: relative;
  display: flex;
  margin-right: 4.44%;
}

.time-subdiv-info-input {
  width: 90%;
  height: 100%;
  background-color: rgb(19, 2, 124, 0.05);
  border-radius: 5px;
  position: absolute;
  display: flex;
  border-style: none;
  padding-left: 10%;
}

.time-subdiv-info-image {
  position: absolute;
  right: 20%;
  padding-top: 15%;
}

.time-input {
  background-color: rgb(19, 2, 124, 0.05);
  width: 21.94%;
  height: 100%;
  border-style: none;
  margin-right: 4.44%;
  padding-left: 4.44%;
  border-radius: 5px;
  margin-bottom: 4%;
}

.lower-body-text-div {
  width: 100%;
  height: 20%;
  display: flex;
  margin-top: 4.68%;
}

.lower-body-text {
  color: #13027c;
  padding: 2%;
  font-size: clamp(0.2775rem, -0.0003rem + 4.4445vw, 27.77775rem);
}

.lower-body-img {
  width: 4.57%;
}

.casting-footer {
  height: 10%;
  width: 100%;
  display: flex;
}

.casting-footer-discard {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
}

.casting-footer-discard-img {
  left: 26.66%;
  top: 40%;
}

.discard-btn {
  height: 100%;
  font-size: clamp(0.2775rem, -0.0003rem + 4.4444vw, 27.7775rem);
  background-color: #fff;
  color: #555;
  border-radius: 0%;
  outline: none !important;
  border: none;
  margin: 0px;
  padding: 3%;
  font-weight: 400;
}

.schedule-btn {
  width: 50%;
  border-radius: 0%;
  background-color: #13027c;
  font-weight: 400;
  font-size: clamp(0.2775rem, -0.0003rem + 4.4444vw, 27.7775rem);
}

.wrap-up-background-image {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  left: 0%;
  bottom: 0%;
  background: rgb(44, 44, 44, 0.7);
}

.time-slot-popup {
  height: 26.87%;
  width: 100%;
  position: absolute;
  left: 0%;
  bottom: 0%;
  z-index: 2;
  background-color: #13027c;
  padding-left: 8.88%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-sizing: border-box;
  padding-top: 8%;
  background-color: #fff;
  transition: 0.3 ease-in;
}
.time-slot-popup-options {
  height: 53px;
  color: #2c2c2c;
}

.time-slot-popup-options-para {
  font-size: clamp(0.2425rem, -0.0006rem + 3.8889vw, 24.305rem);
  font-weight: 400;
}

.date-div {
  width: 100%;
  height: 40%;
}

.day {
  color: #2c2c2c;
  font-family: Poppins;
  font-size: clamp(0.2425rem, -0.0006rem + 3.8889vw, 24.305rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.custom-dropdown option {
  color: #555555;
  color: #555;
}

.custom-dropdown option:checked {
  background-color: #f0f0f0;
  color: #333;
}
.day-div {
  margin-bottom: 5%;
}
.custom-dropdown {
  border-radius: 8px;
  position: relative;
  background-color: rgb(19, 2, 124, 0.05);
  color: #555555;
  width: 100%;
  height: 40px;
  margin-top: 3%;
  border: none;
  padding-left: 3%;
}
