.main-container {
  height: 100%;
  width: 100%;
}

.app-config-header {
  position: relative;
  height: 13.37%;
  width: 100%;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.app-config-header-arrow-image {
  position: absolute;
  top: 18.69%;
  left: 4.44%;
}

.app-config-header-heading {
  position: absolute;
  width: 100%;
  height: 25.23%;
  color: #2c2c2c;
  font-weight: 400;
  font-size: clamp(0.3125rem, 0rem + 5vw, 31.25rem);
  top: 59.81%;
  left: 4.44%;
}

.app-config-header-heading p {
  font-weight: 500;
}

.app-config-body {
  position: relative;
  height: 76.625%;
  width: 100%;
  padding-top: 2%;
  padding-left: 4.44%;
  padding-right: 4.44%;
  box-sizing: border-box;
}

.app-config-body-form {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.form-div {
  height: 100%;
}

.form-details {
  display: block;
  color: #4a5a70;
  font-size: clamp(0.2425rem, -0.0006rem + 3.8889vw, 24.305rem);
}

.form-details-input-1 {
  background-color: rgb(19, 2, 124, 0.1);
  border-style: none;
  border-radius: 8px;
  margin-bottom: 8%;
  margin-top: 0.5%;
  width: 100%;
  height: 5%;
}

.form-details-input-2 {
  background-color: rgb(19, 2, 124, 0.1);
  border-style: none;
  border-radius: 8px;
  /* margin-top: 0.5%; */
  width: 100%;
  height: 5%;
  padding-left: 4.44%;
}

.app-config-footer {
  height: 10%;
  width: 100%;
  display: flex;
}

.app-config-discard {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-config-discard-img {
  left: 26.66%;
  top: 40%;
}

.discard-btn {
  height: 100%;
  font-size: clamp(0.2775rem, -0.0003rem + 4.4444vw, 27.7775rem);
  background-color: #fff;
  color: #555;
  border-radius: 0%;
  margin: 0px;
  padding: 3%;
  font-weight: 400;
}

.app-config-next {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #13027c;
  font-size: clamp(0.2775rem, -0.0003rem + 4.4444vw, 27.7775rem);
}
.app-config-next img {
  width: 9%;
  margin-left: 6%;
}

.next-btn {
  height: 100%;

  border-radius: 0%;
  margin: 0px;
  padding: 3%;
  font-weight: 400;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .next-btn{
    width: 50%;
    border-radius: 0%;
    background-color: #13027C;
    font-weight: 400;
    font-size: clamp(0.2775rem, -0.0003rem + 4.4444vw, 27.7775rem);
} */
