.untitled-container {
  width: 100%;
  height: 100%;
}
.untitled-container .top-section {
  width: 100%;
  height: 13.37%;
  position: relative;
  padding: 0% 5%;
  padding-top: 5.69%;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.untitled-container .top-section .top-icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.untitled-container .top-section .top-icons > img {
  width: 6.5%;
}
.untitled-container .top-section .top-icons .right {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.untitled-container .top-section .top-icons .right > img {
  height: 100%;
}

.untitled-container .top-section h4 {
  position: absolute;
  left: 4.44%;
  bottom: 14.95%;
  color: #2c2c2c;
  font-size: clamp(0.3125rem, 0rem + 5vw, 31.25rem);
  font-weight: 400;
}
.untitled-container .bottom-section {
  width: 100%;
  height: 76.62%;
  position: relative;
  padding: 0% 4.44%;
  padding-top: 3%;
}
.untitled-container .bottom-section .top {
  width: 100%;
  height: 3.91%;
  display: flex;
  justify-content: space-between;
}
.untitled-container .bottom-section .top .rotateall-container {
  width: 100%;
  height: 60.91%;
  display: flex;
  align-items: center;
  margin-top: 2%;
  
}
.untitled-container .bottom-section .top .rotateall-container span{
  font-size: clamp(0.208125rem, -0.0002rem + 3.3333vw, 20.833125rem);
  color: #555;
  font-weight: 400;
  
}
.untitled-container .bottom-section .top .rotateall-container img{
  width: 5%;
  margin-right: 2%;
  
  
}
.untitled-container .bottom-section .top .left {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.untitled-container .bottom-section .top .left img {
  height: 100%;
}
.untitled-container .bottom-section .top .right img {
  height: 100%;
}
.untitled-container .bottom-section .layout-container {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}
.untitled-container .bottom-section .layout-container img {
  width: 100%;
}

.untitled-container .bottom-section .angle-container {
  width: 100%;
  max-height: 15%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 1.5%;
  
}
.untitled-container .bottom-section .angle-container .rotate-bar {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  overflow-x: scroll;
}
.untitled-container .bottom-section .angle-container .singlecastingrotateangle-container {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  padding: 0% 4.44%;
  margin-top: 5%;
}
.untitled-container .bottom-section .angle-container .singlecastingrotateangle-container .castingname{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.untitled-container .bottom-section .angle-container .singlecastingrotateangle-container .right-section{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.untitled-container .bottom-section .angle-container .singlecastingrotateangle-container .right-section span{
  font-size: clamp(0.2775rem, -0.0003rem + 4.4444vw, 27.7775rem);
  color: #555;
  font-weight: 400;
}
.untitled-container .bottom-section .angle-container .singlecastingrotateangle-container .right-section .angle-icon{
  width: 20%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}
.untitled-container .bottom-section .angle-container .singlecastingrotateangle-container .right-section .angle-icon img{
 width: 65%;
}
.untitled-container .bottom-section .angle-container .singlecastingrotateangle-container .castingname span{
  font-size: clamp(0.2775rem, -0.0003rem + 4.4444vw, 27.7775rem);
  color: #555;
  font-weight: 400;
}
.untitled-container .bottom-section .angle-container .rotateallcontainer {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 3%;
}
.untitled-container .bottom-section .angle-container .rotateallcontainer .left {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 4%;
}
.untitled-container .bottom-section .angle-container .rotateallcontainer .left .cancel {
  width: 25%;
}
.untitled-container .bottom-section .angle-container .rotateallcontainer .left .rotate {
  width: 20%;
}
.untitled-container .bottom-section .angle-container .rotateallcontainer .right span {
  font-size: clamp(0.2775rem, -0.0003rem + 4.4444vw, 27.7775rem);
  color: #555;
  font-weight: 400;
}
.untitled-container .bottom-section .angle-container .rotateallcontainer .right img {
  width: 14%;
}
.untitled-container .bottom-section .angle-container .rotateallcontainer .right {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 4%;
}
.untitled-container .bottom-section .rotate-bar::-webkit-scrollbar {
  display: none;
}
.untitled-container .bottom-section .rotate_bar img {
  width: 100%;
}
.untitled-container .buttons {
  width: 100%;
  height: 10%;
  display: flex;
}
.untitled-container .buttons .left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #838383;
}
.untitled-container .buttons .right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #13027c;
}
.untitled-container .buttons .left img {
  width: 8.88%;
  height: 20%;
  margin-right: 4.4%;
}
.untitled-container .buttons .right img {
  width: 8.88%;
  height: 20%;
  margin-left: 4.4%;
}
.untitled-container .buttons .right span {
  font-size: clamp(0.2775rem, -0.0003rem + 4.4445vw, 27.77775rem);
  color: #fff;
}
.untitled-container .buttons .left span {
  font-size: clamp(0.2775rem, -0.0003rem + 4.4445vw, 27.77775rem);
  color: #555;
}
.untitled-container .casting-section{
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: rgb(44, 44, 44, 0.7);
}
.untitled-container .casting-container {
  width: 100%;
  height: 60.87%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 4.7%;
  padding-left: 4.44%;
  padding-right: 4.44%;
  background-color: #fff;
  border-radius: 16px 16px 0px 0px;
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.15);
  z-index: 1;
  transition: 0.3s ease-in;
}

.untitled-container .casting-container .top-wifi-name {
  width: 100%;
  height: 3.28%;
  display: flex;
  align-items: center;
  margin-bottom: 1.64%;
}
.untitled-container .casting-container .casting-container-bottom {
  width: 100%;
  height: 90%;
  overflow-y: auto;
}
.untitled-container .casting-container .casting-container-bottom::-webkit-scrollbar{
  display: none;
}
.untitled-container .casting-container .top-wifi-name img {
  height: 75%;
  margin-right: 2.22%;
}
.untitled-container .casting-container .top-wifi-name span {
  font-size: clamp(0.208125rem, -0.0002rem + 3.3334vw, 20.8333125rem);
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #838383;
}

.untitled-container .wifi-container{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  bottom: 0;
  left: 0;
  background: rgb(44, 44, 44, 0.7);
}
.untitled-container .wifi-devices-conatiner {
  width: 100%;
  height: 34.37%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 4.44%;
  padding-top: 6%;
  border-radius: 16px 16px 0px 0px;
  background: #fff;
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.15);
  z-index: 2;
  box-sizing: border-box;
  transition: 0.3s ease-in;
}
.untitled-container .wifi-devices-conatiner .top-wifi-title{
  height: 10%;
}
.untitled-container .wifi-devices-conatiner .top-wifi-title span {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: clamp(0.208125rem, -0.0002rem + 3.3333vw, 20.833125rem);
  font-weight: 500;
  color: #838383;
}
.untitled-container .wifi-devices-conatiner .wifi-devices-conatiner-bottom {
  width: 100%;
  height: 90%;
  overflow-y: auto;
}
.untitled-container .wifi-devices-conatiner .wifi-devices-conatiner-bottom::-webkit-scrollbar{
  display: none;
}
.untitled-container .addnewdisplay-container{
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgb(44, 44, 44,0.7);
  z-index: 2;
  transition: 0.3s ease-in;
}
.untitled-container .new-display-container{
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgb(44, 44, 44,0.7);
  z-index: 2;
  transition: 0.3s ease-in;
}
.untitled-container .newbackground{
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgb(44, 44, 44,0.7);
  z-index: 2;
  transition: 0.3s ease-in;
}